.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 16px 3px 16px 24px;
}

.header__menu {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background: url("../../assets/icons/menu.svg") center no-repeat;
  flex-basis: 48px;
  height: 48px;
  margin: 4px 0;
}

.header__logo {
  flex-basis: 107px;
  font-size: 28px;
  font-weight: 600;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
  margin: 1px 0 7px 16px;
}

.header__search {
  display: flex;
  flex-grow: 1;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  margin: 0 32px;
}

.header__search-input {
  flex-grow: 1;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin-bottom: 4px;
}

.header__search-input::placeholder {
  color: inherit;
}

.header__search-button {
  width: 24px;
  height: 24px;
  background: transparent url("../../assets/icons/search.svg") center no-repeat;
  background-color: transparent;
}

.header__mobile-search {
  flex-basis: 28px;
  flex-shrink: 0;
  height: 28px;
  background: transparent url("../../assets/icons/search_mobile.svg") center
    no-repeat;
}

.header__nav-items {
  display: flex;
  column-gap: 40px;
  margin-right: 17px;
}

.header__nav-item {
  padding-top: 36px;
  padding-bottom: 3px;
  min-width: 56px;
  text-align: center;
  position: relative;
  background: transparent center top no-repeat;
}

.header__nav-item_cart {
  background-image: url("../../assets/icons/cart.svg");
  background-position: 10px top;
}

.header__nav-item_profile {
  background-image: url("../../assets/icons/profile.svg");
}

.header__nav-item-counter {
  position: absolute;
  top: -4px;
  right: 8px;
  background-color: var(--orange);
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************** media ****************/

@media screen and (max-width: 768px) {
  .header {
    padding: 0 13px;
    column-gap: 16px;
  }
  .header__menu {
    border-radius: 0;
    border: none;
    background-image: url("../../assets/icons/menu_mobile.svg");
    flex-basis: 28px;
    height: 28px;
    margin: 0;
    flex-shrink: 0;
  }
  .header__logo {
    flex-basis: 100%;
    text-align: center;
    margin: 11px 4px 21px 4px;
    font-size: 26px;
    letter-spacing: 0.52px;
  }
  .header__search,
  .header__nav-items {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header__mobile-search {
    display: none;
  }
}
